#block-stchk34-subtheme-content {
    fieldset {
        display: flex;
        flex-direction: column;
        margin-bottom:5px;
    }

    label {
        font-size: 16px;
        text-transform: uppercase;
    }

    input {
        width: 230px;
    }
  .page-description{
    margin: 20px 0;
    font-size: 18px;
  }

    #edit-submit {
        width: 107px;
        height: 33px;
        font-size: 15px;
        margin-top: 5px;
        text-transform: uppercase;
        color: $white;
        background-color: $brown;
        border: none;
        border-radius: 4px;

    }

    .stchk34 {
        margin: 30px 0;
        padding-left: 10px;
        border-left: 5px solid $brown;
    }
  .use-ajax{
    background-color:$brown;
    border: none;
    color: $white;
    padding: 5px 19px;
    margin: 5px;
    border-radius:5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;

  }
  .odd,.even{
    td{
      font-size:20px;
      color:$brown;
    }
  }

}
